<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Practice</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script> -->
	<script src="script.js"></script>
</head>
<body ng-app="cartApp">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">A Cart App</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse float-right" id="navbarColor02">
			<ul class="navbar-nav mr-auto ">
				<li class="nav-item active">
					<a class="nav-link" href="#">Login</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<!-- jumbo -->
	<div class="container-fluid">
		<div class="jumbotron " ng-controller="cartCon">
			<h1 class="display-3">Hello, user!</h1>
			<p class="lead">This is a simple cart application</p>
			<hr class="my-4">
			<div class="row">
				<div class="col-md-6 bg-secondary p-4">
					<h3 class="text-center">Services</h3>
					<hr class="my-4">

					<ul class="tlist">
						<li service class="p-3 my-2" ng-repeat="c in cart" ng-click="toggle(c)" style="	background:{{c.active? 'green' : 'purple'}}">
							<h5>{{c.mat}}  <span class="float-right">{{c.price | currency}}</span></h5>
						</li>
					</ul>
					<hr class="my-3">
					<h4 class="p-4">Total <span class="float-right">{{total() | currency}}</span></h4>
				</div>
			</div>

		</div>
	</div>


</body>
</html>